# Local pathname and S3 particulars of backing-store JSON file goes here
export BACKING_STORE_PATHNAME="/var/tmp/oncall-config.json"
export BACKING_STORE_S3_BUCKET="example-oncall-dev"
export BACKING_STORE_S3_OBJECT="oncall-config.json"
